# Configure zsh history
HISTSIZE=5000               #How many lines of history to keep in memory
HISTFILE=~/.zsh_history     #Where to save history to disk
SAVEHIST=5000               #Number of history entries to save to disk
HISTTIMEFORMAT="[%F %T] "   #Configure the style of history
HISTDUP=erase              #Erase duplicates in the history file
setopt    appendhistory     #Append history to the history file (no overwriting)
setopt    sharehistory      #Share history across terminals
setopt    incappendhistory  #Immediately append to the history file, not just when a term is killed

# Fix CTRL+Arrow keys and make them bash-like
autoload -U select-word-style
select-word-style bash
bindkey "^[[1;5C" forward-word
bindkey "^[[1;5D" backward-word

# Fix alt-backspace
backward-kill-dir () {
    local WORDCHARS=${WORDCHARS/\/}
    zle backward-kill-word
    zle -f kill
}
zle -N backward-kill-dir
bindkey '^[^?' backward-kill-dir

# Load compinit
autoload -Uz compinit
compinit

# Fix sudo tab completion
_my_sudo() path=($path /sbin /usr/sbin) _sudo "$@"
compdef _my_sudo sudo

# Configure Fuzzy Finder
{% if ansible_os_family == "Debian" %}
test -f /usr/share/doc/fzf/examples/completion.zsh && source /usr/share/doc/fzf/examples/completion.zsh
test -f /usr/share/doc/fzf/examples/key-bindings.zsh && source /usr/share/doc/fzf/examples/key-bindings.zsh
{% elif ansible_distribution == "Fedora" %}
# if using Fedora
test -f /usr/share/fzf/shell/key-bindings.zsh && source /usr/share/fzf/shell/key-bindings.zsh
{% elif ansible_os_family == "Archlinux" %}
test -f /usr/share/fzf/key-bindings.zsh && source /usr/share/fzf/key-bindings.zsh
test -f /usr/share/fzf/completion.zsh && source /usr/share/fzf/completion.zsh
{% endif %}

# Load custom bash config
for config in ~/.config/shell.d/*.sh; do
  source "$config"
done

# Configure shell title
function set_win_title(){
  if [[ "$(basename $PWD)" == "$(id -un)" ]]; then
    echo -ne "\033]0; ~ \007"
  else
    echo -ne "\033]0; $(basename $PWD) \007"
  fi
}

precmd_functions+=(set_win_title)

# Load starship prompt
eval "$(starship init zsh)"
