[alias]
	tree = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --branches --date-order
[user]
	signingkey = {{ user.git.signingkey }}
	email = {{ user.email }}
	name = {{ user.fullname }}
[commit]
	gpgsign = true
[pull]
	ff = only
[push]
	default = simple
[init]
	defaultBranch = main
[pager]
	branch = false
