#!/usr/bin/env bash
[ -n "$SSH_AGENT_PID" ] || eval "$(ssh-agent -s)"
{% if ansible_distribution == "openSUSE Tumbleweed" %}
SSH_ASKPASS=/usr/libexec/ssh/ksshaskpass
{% else %}
SSH_ASKPASS=/usr/bin/ksshaskpass
{% endif %}
export SSH_ASKPASS