#!/usr/bin/env bash
{% if ansible_distribution == "openSUSE Tumbleweed" %}
SSH_ASKPASS=/usr/libexec/ssh/ksshaskpass
{% else %}
SSH_ASKPASS=/usr/bin/ksshaskpass
{% endif %}
export SSH_ASKPASS
ssh-add ~/.ssh/id_ed25519